/* Definindo font-size de 62.5% permite que usemos a unidade REM mais facilmente. */
/* Exemplo: 1.2rem equivale a 12px, 1.75rem equivale a 17.5px, basta multiplicar por 10. */
/* Também podemos usar uma hierarquia: PX para o root, REM para módulos e EM para filhos no geral. */
/* Por padrão os navegadores utilizam 16px de font-size, equivalente a 100%. */
body {
	background-color: #fafafa;
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	line-height: 100%;
}

header {
	display: flex;
	padding: 2rem 4rem;
	align-items: center;
	justify-content: space-between;
	background-color: #1c1c1c;
	color: #fafafa;
	border-bottom: 0.25rem solid #fafafa;
}

nav {
	display: flex;
	gap: 2rem;
}

a {
	text-decoration: none;
	color: #fafafa;
}

a:hover {
	text-decoration: underline;
}

.button-theme {
	background-color: #fafafa;
	border: none;
}

#day:hover {
	background-color: #facc2e;
}

#night:hover {
	background-color: #58acfa;
}

#hello,
#about,
#gallery {
	margin: 0 0 2rem 0;
}

.div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: fit-content;
	padding: 2rem 8rem;
}

.title {
	font-size: 1.5rem;
	text-shadow: 4px 4px 8px black;
	font-weight: bold;
	color: #fafafa;
	margin: 0 0 1rem 0;
}

.title-hello {
	margin-bottom: 2rem;
}

.title-about {
	margin-bottom: 2rem;
}

.title-hello::before {
	content: '\1F918    ';
}

.title-about::before {
	content: '\1F4D4    ';
}

.title-gallery::before {
	content: '\1F4F7    ';
}

.title-contact::before {
	content: '\1F4AC    ';
}

.hello {
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50vh;
	background-color: #fafafa;
	background-image: url('../assets/img/leaf.jpg');
	background-position: center top;
}

.main-paragraph {
	display: inline-block;
	background-color: rgb(28, 28, 28, 0.25);
	line-height: 2rem;
	font-weight: 400;
	font-size: 1.2rem;
	text-align: center;
	width: 50vw;
	color: #fafafa;
}

.section-about {
	display: flex;
	flex-wrap: wrap;
	height: 50vh;
}

.about {
	background-color: #fa5858;
	padding: 2rem 4rem 2rem 8rem;
	width: 70%;
}

.about-img {
	/* background-color: antiquewhite; */
	display: flex;
	justify-content: right;
	padding: 0 8rem 0 0;
	width: 30%;
	height: 50vh;
}

/* .about-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
} */

.my-photo {
	width: auto;
	filter: grayscale(100%) opacity(75%);
	border: 1rem #1c1c1c;
	border-style: double;
}

.gallery {
	background-color: #1c1c1c;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	justify-items: stretch;
	align-items: stretch;
	gap: 1rem;
}

.photo {
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease-in-out;
}

.photo:hover {
	box-shadow: 0 0 8px #1c1c1c;
	filter: none;
}

.item-1 {
	grid-row: 1 / 3;
	grid-column: 1 / 2;
}

.item-2 {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.item-7 {
	grid-row: 2 / 4;
	grid-column: 3 / 4;
}

.contact {
	background-color: #facc2e;
}

footer {
	display: flex;
	padding: 2rem 4rem;
	align-items: center;
	justify-content: space-around;
	background-color: #1c1c1c;
	color: #fafafa;
}

.img-footer {
	/* background-color: #fa5858; */
	width: 5rem;
	height: 5rem;
}

.navbar-footer {
	flex-direction: column;
	gap: 1rem;
}
